configs/scannet/mvpnet_3d_unet_resnet34_pn2ssg.yaml
mvpnet/data/meta_files/scannetv2_test.txt
mvpnet/data/meta_files/scannetv2_train.txt
mvpnet/data/meta_files/scannetv2_val.txt
SETTING.py

# compilation and distribution
__pycache__
_ext
*.pyc
*.so
build/
dist/
*.egg-info/

# ipython/jupyter notebooks
*.ipynb
**/.ipynb_checkpoints/

# Editor temporaries
*.swn
*.swo
*.swp
*~

# Pycharm editor settings
.idea

# VSCode editor settings
.vscode

# project dirs
/data
/outputs